<div data-role="header" class="jqm-header">
    <h2><img src="{{ asset("bundles/app/_assets/img/logo.png") }}" alt="Logo"></h2>
    <a href="#" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Meniu</a>
    {#<a href="#" class="jqm-search-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-search ui-nodisc-icon ui-alt-icon ui-btn-right">Cauta</a>#}
</div><!-- /header -->