<div data-role="panel" class="jqm-navmenu-panel" data-position="left" data-display="overlay" data-theme="a">
    <ul class="jqm-list ui-alt-icon ui-nodisc-icon">
        <li data-filtertext="demos homepage" data-icon="home"><a href="{{ path('homepage') }}">Acasa</a></li>
    </ul>
</div><!-- /panel -->