{% extends '::base.html.twig' %}

{% block page %}
<div data-role="page" class="jqm-demos jqm-home" id="page_index" class="page_index">

    {% include '::includes/header.html.twig' %}
    <div role="main" class="ui-content jqm-content">

        <a href="#popupProduct"
            data-inline="true"
            data-role="button"
            data-position-to="window"
            data-rel="popup"
            aria-haspopup="true"
            aria-owns="popupLogin"
            aria-expanded="false"
            class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all"
            role="button">Form</a>

        <div data-theme="a" id="popupProduct" data-role="popup">
            <div style="padding:20px">
                <p>Cum ti-ar sta cu palarie?</p>
                <p><img src="https://s0emagst.akamaized.net/products/3888/3887197/images/res_9e1c595489d192168d4c10d8244f91c2_450x450_100_70jc.jpg" width="200"></p>
                <a href="http://m.emag.ro/palarie-kangol-sweetcorn-siren-mov-m-6927bcb2/pd/D9G9D2BBM/" class="ui-btn ui-btn-b ui-shadow ui-corner-all">Buy now</a>
                <a href="" id="btnPopupAddProduct" class="ui-btn ui-btn-b ui-shadow ui-corner-all">Add to wish list</a>
                <a href="" id="btnPopupClose" class="ui-btn ui-btn-b ui-shadow ui-corner-all">No, thank you!</a>
            </div>
        </div>

        <div data-theme="a" id="popupDialog" data-role="popup"></div>

        <script>
            $('#btnPopupClose').on('click', function(e){
                e.preventDefault();
                $('#popupProduct').popup('close');
            });

            $('#btnPopupAddProduct').on('click', function(e) {
                e.preventDefault();
                $.mobile.loading('show');
                $.post("test.html")
                    .done(function () {
                        $('body').loader('hide');
                        $('#popupProduct').popup('close');
                    })
                    .fail(function() {
                        $.mobile.loading('hide');
                        $('#popupProduct').popup('close');
                    });

            });




        </script>


        <a data-transition="pop" data-inline="true" data-role="button" data-position-to="window" data-rel="popup" href="#popupDialog" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="c" aria-haspopup="true" aria-owns="#popupDialog" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-up-c"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Dialog</span></span></a>



    </div><!-- /content -->

    {% include '::includes/menu.html.twig' %}
{% include '::includes/footer.html.twig' %}


</div><!-- /page -->

{% endblock %}