{% extends '::base.html.twig' %}

{% block page %}
    <div data-role="page" class="jqm-demos jqm-home" id="page_index" class="page_index">

        {% include '::includes/header.html.twig' %}
        <div role="main" class="ui-content jqm-content">

        </div><!-- /content -->
        {% include '::includes/menu.html.twig' %}
        {% include '::includes/footer.html.twig' %}


    </div><!-- /page -->

{% endblock %}
